:root {
    --background-colour: #422B2B;
    --box-background-colour: #634141;
    --box-shadow-colour: #825555;

    --font-colour: wheat;
    --link-colour: rgb(208, 169, 96);
}

/* Getting the boxes to change colour and size when you hover over them */

#title-section {
    animation-name: fly-in;
    animation-duration: 4s;
}

.detail-box {
    transition: background-color 0.2s ease 0s;
    transition: transform 0.2s ease 0s;
}


.detail-box:hover {
    background-color: var(--font-colour);
    box-shadow: 1.2rem 1.2rem var(--link-colour);
    color: var(--box-background-colour);

    transform: scale(1.1);

}

.detail-box:hover a {
    color: var(--background-colourcolour);
}

.detail-box-inverted {
    animation-name: fade-in;
    animation-duration: 0.3s;
}

/* Setting up the actual animations */
@keyframes fly-in {
    0%   {translate: -180% 0;}
    50%  {translate: 0% 0%;}
}

@keyframes fade-in {
    0%      {opacity: 0;}
    100%    {opacity: 1;}
}
