:root {
    --background-colour: #422B2B;
    --box-background-colour: #634141;
    --box-shadow-colour: #825555;

    --font-colour: wheat;
    --link-colour: rgb(208, 169, 96);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-colour);
    scroll-behavior: smooth;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    width: 60%;
}

#repos-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap; 
    width: 100%;
}

.detail-box {
    background-color: var(--box-background-colour);
    box-shadow: 1.2rem 1.2rem var(--box-shadow-colour);
    color: var(--font-colour);
    margin: 10% 0;
    padding: 10%;
    width: 60%; /* accounts for 20% padding on each side*/
 
}

#title-section {
    margin: 20% 0 10% 0;
}

#keylinks-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.keylink {
    margin: 10% 5% 5% 0;
}

.keylink img {
    border-radius: 0.2rem;
}

.detail-box a {
    color: var(--link-colour);
}

p {
    margin: 5% auto;
}

.extra-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 10% 0 0 0;
}

.extra-info-container > h2 {
    margin-left: 0;
    margin-right: auto;
}

.extra-info-container > .more-info-link {
    margin-left: auto;
    margin-right: auto;
}

.extra-info-container > .github-link {
    margin-left: auto;
    margin-right: 0;
}

.detail-box-inverted {

    background-color: var(--font-colour);
    box-shadow: 1.2rem 1.2rem var(--link-colour);
    color: var(--box-background-colour);

    margin: 10% 0;
    padding: 10%;
    width: 60%; /* accounts for 20% padding on each side*/
}

.detail-box-inverted a {
    color: var(--background-colour);
}

.repo-examples-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    
}

.repo-example-item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    width: 80%
}

.repo-example-item-container img {
    width: 100%;
    max-height: auto;

    border: solid var(--background-colour);
    border-width: 0.5rem; 
}